a {
    color: #5E37EF;
    text-align: center;
}

button {
    color: black;
    background-color: white;
    width: 200px;
    padding: 20px;
    border-color: black;

}

header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg);
}

footer {
    text-align: center;
    background-color: black;
    padding: 50px;
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#clear {
    width: 10%;
    padding: 20px;
    border-color: black;
    background-color: #5E37EF;
    color: white;

}

.container1 {
    text-align: center;
}


h3 {
    text-align: center;
}


#mainmenu {
    background-color: #B299FC;
    padding: 30px;
    width: 12%;
}

#filters {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

#locality {
    color: #B299FC;
}

#recycling {
    color: #B299FC;
}

#map {
    width: 20%;
}

.container {
    text-align: right;
}

#mapsss {
    text-align: right;
    width: 87%;
}

@media only screen and (max-width: 768px) {

    #filters,
    #map {
        display: block;
        width: auto;
    }
}

#table {
    width: 40%;
}

#graph {
    width: 40%;
}

#info {
    width: 60%;
}

#submit {
    background-color: #5E37EF;
    border-color: black;
    padding: 20px;
    width: 5%;
    color: white;
}

#login {
    background-color: #5E37EF;
    border-color: black;
    padding: 20px;
    width: 100px;
    color: white;
}

#repository {
    font-weight: 200;
}

#loc {
    line-height: 35px;
}

#rec {
    line-height: 35px;
}